@media screen and (min-width: 820px) {
  .logo {
    margin-left: 20px;
  }

  .currency {
    margin-right: 20px;
  }

  .main-title {
    margin-left: 10px;
    font-size: 100px;
  }

  .button {
    margin-left: 10px;
  }

  .main-text {
    margin-left: 10px;
    margin-right: 120px;
  }

  .main-small-info {
    margin-left: 10px;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    margin-left: 20px;
  }

  .main-title {
    margin-left: 10px;
    font-size: 80px;
  }

  .button {
    margin-left: 10px;
  }

  .main-text {
    margin-left: 20px;
    margin-right: 300px;
  }

  .main-small-info {
    margin-left: 10px;
  }
  .currency {
    margin-left: -30px;
  }
}
